python-docx
openai
cerebras-cloud-sdk
langchain
langchain-community
openpyxl
streamlit==1.38.0 #streamlit
requests
python-dotenv
PyPDF2
pypdf #==3.0.1
pandas
transformers
torch
huggingface-hub==0.20.3
sentence-transformers
faiss-cpu
